<div class="auth-container">
    <div class="auth-left">
      <div class="branding">
        <img src="/logo.png" alt="Pichulie logo" class="logo">
        <p id="resultado"></p>
      </div>
    </div>

    <div class="auth-right">
      <h1>Welcome Back</h1>
      <form>
        <input id="email" type="text" placeholder="Email" required>
        <input id="password" type="password" placeholder="Password" required>
        <div class="checkbox-row">
          <label><input type="checkbox"> Remember me</label>
          <a href="#/recovery">Forgot password?</a>
        </div>
        <button id="login" type="button" class="btn">Login</button>

        <!--
        <div class="separator">or</div>
        <div class="google-btn">
          <img src="../../public/logo.png" alt="Google logo"> Login with Google 
          Login with Google
        </div>
        -->
        <div class="footer-text">
          Don’t have an account? <a href="#/register">Sign up</a>
        </div>
      </form>
    </div>
  </div>