<div class="auth-container">

    <!-- Columna izquierda -->
    <div class="auth-left">
      <div class="branding">
        <img src="../../public/logo.png" alt="Pichulie logo" class="logo">
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="auth-right">
      <h1>Password Recovery</h1>
      <form id="resetForm">
        <input type="password" id="newPassword" placeholder="New password" required>
        <input type="password" id="confirmPassword" placeholder="Confirm password" required>
        <button type="button" class="btn">Change password</button>
      </form>
      <p id="message"></p>
    </div>   
</div> 
